@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

* {
    font-family: Rubik;
    margin: 0;
    padding: 0;

    overflow-x: hidden;
}

.backgroundL {
    position: absolute;
    left: -100px;
    height: 90%;
    width: 30%;
    background: linear-gradient(to bottom, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    border-radius: 0 0 250px 170px;

    z-index: -1;
}

.backgroundR {
    position: absolute;
    bottom: 0;
    right: -170px;
    height: 90%;
    width: 35%;
    /* background: linear-gradient(to bottom, hsl(293, 100%, 63%), hsl(264, 100%, 61%)); */
    background-color: #efefef;
    border-radius: 250px 250px 0 0;
    /* opacity: 0.05; */

    z-index: -1;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.phone {
    /* position: absolute;
    left: 20%;
    top: 5%; */

    width: 290px;
    height: 592px;

    border: 10px solid white;
    border-radius: 30px;
    box-shadow:0px 1px 20px 5px rgba(0,0,0,0.1);

    background-color: #f5f3f8;
    
    overflow: hidden;
}

.phone-top {
    position: absolute;
    margin: 0 50px;
    background-color: white;
    border-radius: 0 0 18px 18px;
    width: 180px;
    height: 25px;
}

.phone-head {
    background: linear-gradient(to left, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    border-radius: 20px 20px 5px 5px;

    height: 40px;
    padding-top: 40px;

    display: grid;
    grid-template-columns: 10% 15% 65% 10%;
}

.phone-head .arrow::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 7px;
    border-radius: 20px;

    transform: translateY(9px) translateX(15px) rotate(-68deg);

    background-color: white;
}

.phone-head .arrow {
    color: black;

    /* border: 2px solid red; */
}

.phone-head .arrow::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 7px;
    border-radius: 20px;

    transform: translateY(14px) translateX(15px) rotate(68deg);

    background-color: white;
}

#samuel {
    height: 25px;
    border-radius: 50%;
    border: solid 2px white;
}

.phone-head-text {
    display: flex;
    align-items: start;
    color: white;
}

.name {
    color: rgba(255, 255, 255, 0.9);
    font-size: 13px;
}

.status {
    color: rgba(255, 255, 255, 0.5);
    font-size: 9px;
}

/* .points {
    border: 1px solid green;
} */

.point {
    height: 2px;
    width: 2px;
    background-color: white;
    border: 1px solid white;
    border-radius: 50%;
    margin: 2px;
}

/* .messages {

} */

.left1 {
    padding-bottom: 5px;
}

.leftText1, .leftText2, .leftText3 {
    color: hsl(276, 55%, 52%);
    background-color: #ede5f4;

    border-radius: 10px 10px 10px 5px;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.rightImages {
    transform: translateX(-7px);
}

.dog {
    height: 48px;
    border-radius: 12px;
    margin: 3px;
}

.rightText1, .rightText2 {
    color: hsl(271, 15%, 43%);
    background-color: white;

    border-radius: 10px 10px 5px 10px;

    box-shadow:0px 1px 10px 5px rgba(0,0,0,0.05);
}

.rightText2 {
    transform: translateY(-9px);
}

.left2 {
    transform: translateY(-10px);
}

.leftText1, .leftText2, .rightText1, .rightText2, .leftText3, .leftNotif1, .leftNotif2 {
    font-size: 9px;
    margin: 10px;
}

.leftText1, .leftText2, .rightText1, .rightText2, .leftText3 {
    max-width: 130px;
    padding: 10px;
}

.leftNotif1, .leftNotif2 {
    color: rgba(255, 255, 255, 0.6);
    background: linear-gradient(to right, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    
    border-radius: 13px 13px 13px 5px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 180px;
    padding: 10px 20px 10px 10px;
}

.walk {
    display: flex;
}

.circle {
    height: 11px;
    width: 11px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;

    margin-right: 10px;
}

.price {
    font-size: 15px;
    color: white;
}

.sendMessage {
    background-color: white;
    padding: 6px;
    margin: 10px;
    border-radius: 50px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: translateY(-10px);
}

.sendMessage p {
    font-size: 10px;
    color: rgba(0, 0, 0, 0.25);
    margin-left: 18px;
    transform: translateY(2px);
}

.sendMessage .arrow {
    height: 28px;
    width: 28px;
    background-color: black;
    border-radius: 50%;
}

/* .sendMessage .arrow::before {
    position: absolute;
    content: '';
    background-color: white;
    padding: 2px;
    width: 15px;

    border: 1px solid red;
    transform:  rotate(45deg);
}

.sendMessage .arrow::after {
    position: absolute;
    content: '';
    background-color: white;
    padding: 2px;
    width: 15px;

    border: px solid green;

    transform: rotate(-45deg) translate(0 10px);
} */

.text {
    max-width: 420px;

    top: 40%;
    left: 50%;
    
    overflow: hidden;
}

h1 {
    font-size: 30px;
}

h4 {
    font-size: 15px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.3);
}

footer {
    position: fixed;
    bottom: 10px;
    font-size: 11px;
    text-align: center;
    width: 100%;
}

footer a {
    color: hsl(228, 45%, 44%)
}

@media screen and (max-width: 800px) {
    .container {
        flex-direction: column;
    }
}